body {
    background-image: url("./bilder/Skull.gif");}
h1 {
    font-family: 'Bebas Neue', cursive;
    color: darkslategray;
    margin: 20px;}
p {
    font-family: 'Playball', cursive;
    color: whitesmoke;
    background-color: slategray;
    width: 500px;
    border: 5px solid lightslategray;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;}